# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Demo subfolder - quick fix
tests/demo/.svelte-kit
tests/demo/build
tests/demo/func/sk_render
tests/demo/test-results
